.view,body,html{
  font-family: 'Product Sans', serif !important;
  width: 100%;
  height: 100%;
}

/*
header {
  height: 10vh;
}

.haveslider {
  height: 70vh;
}

.haveslider #carousel-slider  {
  height: 100%;
}

*/

#carousel-slider  {
  height: 70vh;
}
.error-box .error-title {
  font-size: 25vw !important;
  font-weight: 900 !important;
  text-shadow: 4px 4px 0 #fff, 6px 6px 0 #343a40 !important;
}

.page-footer{
  background-color:#1C2331
}

.topbar {
    margin: 0px;
    position: relative;
    top: 0px;
    z-index: 1040;
    width: 100%;
}

.mt-e {
    margin-top: 5em !important;
}

.navbar.scrolling-navbar.top-nav-collapse {
  top: 0px !important;
}

.navbar.scrolling-navbar:not(.top-nav-collapse) {
  top: 36px;
}

.navbar.scrolling-navbar:not(.top-nav-collapse .white) {
  background: transparent !important;
}

.navbar.scrolling-navbar.top-nav-collapse {
  background: white !important;
}

.navbar.scrolling-navbar:not(.white):not(.top-nav-collapse) .navbar-brand, 
.navbar.scrolling-navbar:not(.white):not(.top-nav-collapse) .btn {
  color: white !important;
}

.navbar.scrolling-navbar.top-nav-collapse  .navbar-brand, 
.navbar.scrolling-navbar.top-nav-collapse  .btn:not(.*-gradient) {
  color: black !important;
}
/*
*/
.carousel{
  height:100%;
}

.carousel .carousel-inner,
.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item{
  height:100%;
}

.carousel-control-next, .carousel-control-prev {
  width: 8%;
}

.btn-rounded{
  -webkit-border-radius:10em;
  border-radius:10em}

.btn.purple-gradient{
  -webkit-transition:.5s ease;
  -o-transition:.5s ease;
  transition:.5s ease;
  color:#fff
}

.btn.purple-gradient:active,
.btn.purple-gradient:active:focus .btn.purple-gradient.active,
.btn.purple-gradient:focus,
.btn.purple-gradient:hover{
  background:-webkit-linear-gradient(50deg,#ff88ce,#8f8bf7);
  background:-o-linear-gradient(50deg,#ff88ce,#8f8bf7);
  background:linear-gradient(40deg,#ff88ce,#8f8bf7)
}

.btn.peach-gradient{
  -webkit-transition:.5s ease;
  -o-transition:.5s ease;
  transition:.5s ease;
  color:#fff
}

.btn.peach-gradient:active,
.btn.peach-gradient:active:focus .btn.peach-gradient.active,
.btn.peach-gradient:focus,
.btn.peach-gradient:hover{
  background:-webkit-linear-gradient(50deg,#ffdf89,#fc7b7b);
  background:-o-linear-gradient(50deg,#ffdf89,#fc7b7b);
  background:linear-gradient(40deg,#ffdf89,#fc7b7b)
}

.btn.aqua-gradient{
  -webkit-transition:.5s ease;
  -o-transition:.5s ease;
  transition:.5s ease;
  color:#fff
}

.btn.aqua-gradient:active,
.btn.aqua-gradient:active:focus .btn.aqua-gradient.active,
.btn.aqua-gradient:focus,
.btn.aqua-gradient:hover{
  background:-webkit-linear-gradient(50deg,#3aa2ff,#1fffac);
  background:-o-linear-gradient(50deg,#3aa2ff,#1fffac);
  background:linear-gradient(40deg,#3aa2ff,#1fffac)
}

.btn.blue-gradient{
  -webkit-transition:.5s ease;
  -o-transition:.5s ease;
  transition:.5s ease;
  color:#fff
}

.btn.blue-gradient:active,
.btn.blue-gradient:active:focus .btn.blue-gradient.active,
.btn.blue-gradient:focus,
.btn.blue-gradient:hover{
  background:-webkit-linear-gradient(50deg,#5ed1fc,#3647b3);
  background:-o-linear-gradient(50deg,#5ed1fc,#3647b3);
  background:linear-gradient(40deg,#5ed1fc,#3647b3)
}

.purple-gradient{
  background:-webkit-linear-gradient(50deg,#ff6ec4,#7873f5)!important;
  background:-o-linear-gradient(50deg,#ff6ec4,#7873f5)!important;
  background:linear-gradient(40deg,#ff6ec4,#7873f5)!important}

.peach-gradient{
  background:-webkit-linear-gradient(50deg,#ffd86f,#fc6262)!important;
  background:-o-linear-gradient(50deg,#ffd86f,#fc6262)!important;
  background:linear-gradient(40deg,#ffd86f,#fc6262)!important}

.aqua-gradient{
  background:-webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;
  background:-o-linear-gradient(50deg,#2096ff,#05ffa3)!important;
  background:linear-gradient(40deg,#2096ff,#05ffa3)!important}

.blue-gradient{
  background:-webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
  background:-o-linear-gradient(50deg,#45cafc,#303f9f)!important;
  background:linear-gradient(40deg,#45cafc,#303f9f)!important}

.btn-floating{
  -webkit-box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
  box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
  width:47px;
  height:47px;
  position:relative;
  z-index:1;
  vertical-align:middle;
  display:inline-block;
  overflow:hidden;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  margin:10px;
  -webkit-border-radius:50%;
  border-radius:50%;
  padding:0;
  cursor:pointer
}

.iconup{
  font-size:1.25rem;
  line-height:47px;
  display:inline-block;
  width:inherit !important;
  height:inherit !important;
  text-align:center;
  color:#fff
}

.btn-floating:hover{
  -webkit-box-shadow:0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
  box-shadow:0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)
}

.btn-floating:before{
  -webkit-border-radius:0;
  border-radius:0}

.btn-floating.btn-sm{
  width:36.15385px;
  height:36.15385px
}

.btn-floating.btn-sm.iconup{
  font-size:.96154rem;
  line-height:36.15385px
}

.btn-floating.btn-lg{
  width:61.1px;
  height:61.1px
}

.btn-floating.btn-lg.iconup{
  font-size:1.625rem;
  line-height:61.1px
}

.fixed-action-btn{
  position:fixed;
  z-index:998;
  right:35px;
  bottom:35px;
  margin-bottom:0;
  padding-top:15px
}

.fixed-action-btn ul{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-transition:.4s height;
  -o-transition:.4s height;
  transition:.4s height;
  position:absolute;
  bottom:64px;
  height:64px;
  left:0;
  right:0;
  margin:0 0 15px;
  padding:0;
  text-align:center
}

.fixed-action-btn ul li{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  margin-bottom:15px;
  margin-left:auto;
  margin-right:auto;
  z-index:-1
}

.fixed-action-btn ul a.btn-floating{
  opacity:0;
  -webkit-transition-duration:.4s;
  -o-transition-duration:.4s;
  transition-duration:.4s;
  -webkit-transform:scale(.4) translate(0);
  -ms-transform:scale(.4) translate(0);
  transform:scale(.4) translate(0)
}

.fixed-action-btn ul a.btn-floating.shown{
  -webkit-transform:scale(1) translate(0);
  -ms-transform:scale(1) translate(0);
  transform:scale(1) translate(0);
  opacity:1
}


.card.card-image{-webkit-background-size:cover;background-size:cover;background-position:center;width:100%}
.card.card-image [class*=rgba-]{-webkit-border-radius:.25rem;border-radius:.25rem}
.card.card-cascade .view.view-cascade{-webkit-box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);-webkit-border-radius:.25rem;border-radius:.25rem}
.card.card-cascade .view.view-cascade.gradient-card-header{padding:1.6rem 1rem;text-align:center}
.card.card-cascade .view.view-cascade.gradient-card-header .card-header-title{font-weight:500}
.card.card-cascade .view.view-cascade.gradient-card-header .btn-floating{background-color:rgba(255,255,255,.2)}
.card.card-cascade.wider{-webkit-box-shadow:none;box-shadow:none;background-color:transparent}
.card.card-cascade.wider .view.view-cascade{z-index:2}
.card.card-cascade.wider .card-body.card-body-cascade{-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);margin-left:4%;margin-right:4%;background:#fff;z-index:1;-webkit-border-radius:0 0 .25rem .25rem;border-radius:0 0 .25rem .25rem}
.card.card-cascade.wider.reverse .card-body.card-body-cascade{z-index:3;margin-top:-1rem;-webkit-border-radius:.25rem;border-radius:.25rem;-webkit-box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)}
.card.card-cascade.narrower{margin-top:1.25rem}
.card.card-cascade.narrower .view.view-cascade{margin-left:4%;margin-right:4%;margin-top:-1.25rem}
.card.card-cascade.panel-cascade .view{text-align:center;color:#fff}
.card.card-cascade.panel-cascade .list-group .list-group-item{margin-bottom:0;border:0;border-bottom:1px solid #eee;color:#495057}
.card.card-cascade.panel-cascade .list-group .list-group-item:hover{background-color:#eee}
.card .btn-action{margin-top:-1.44rem;margin-bottom:-1.44rem}
.card .activator{position:absolute;right:0;font-size:1.2rem}
.card .card-reveal{position:absolute;width:100%;overflow-y:auto;top:100%;height:100%;z-index:1;display:none}
.card .card-reveal .content{position:relative}
.card.ovf-hidden{overflow:hidden}
.card .card-share{position:relative}
.card .card-share .social-reveal{position:absolute;top:-1.44rem;right:1.88rem;visibility:hidden;width:auto;-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);-webkit-transition:-webkit-transform .35s ease;transition:-webkit-transform .35s ease;-o-transition:transform .35s ease;transition:transform .35s ease;transition:transform .35s ease,-webkit-transform .35s ease}
.card .card-share .social-reveal-active{z-index:11;visibility:visible;-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-transform:translateX(-48px);-ms-transform:translateX(-48px);transform:translateX(-48px);-webkit-transition:-webkit-transform .35s ease;transition:-webkit-transform .35s ease;-o-transition:transform .35s ease;transition:transform .35s ease;transition:transform .35s ease,-webkit-transform .35s ease}
.card .card-reveal .card-title,.card-wrapper .card-rotating .card-title{cursor:pointer}
.card .card-reveal .card-title i,.card-wrapper .card-rotating .card-title i{color:#9e9e9e;position:absolute;right:.63rem}
.card-wrapper{margin:0;min-height:500px;position:relative;-webkit-perspective:800px;perspective:800px}
.card-wrapper .face{position:absolute;width:100%;height:100%}
.card-wrapper .card-up{height:200px;overflow:hidden}
.card-wrapper .card-up img{vertical-align:middle}
.card-wrapper .avatar{display:block;margin-top:-60px;overflow:hidden;width:120px}
.card-wrapper .avatar img{border:5px solid #fff;background:none repeat scroll 0 0 #fff;width:100%}
.card-wrapper .card-rotating{position:absolute;-webkit-transform-style:preserve-3d;transform-style:preserve-3d}
.card-wrapper .card-rotating .content{position:relative}
.card-wrapper .card-rotating.effect__click.flipped .front{-webkit-transform:rotateY(180deg);transform:rotateY(180deg)}
.card-wrapper .card-rotating.effect__click.flipped .back{-webkit-transform:rotateY(0);transform:rotateY(0)}
.card-wrapper .back,.card-wrapper .front{-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);-webkit-border-radius:.25rem;border-radius:.25rem;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:1s;-o-transition:1s;transition:1s}
.card-wrapper .back{-webkit-transform:rotateY(-180deg);transform:rotateY(-180deg)}
.testimonial-card .card-up{overflow:hidden;height:120px;-webkit-border-top-left-radius:.25rem;border-top-left-radius:.25rem;-webkit-border-top-right-radius:.25rem;border-top-right-radius:.25rem}
.testimonial-card .avatar{-webkit-border-radius:50%;border-radius:50%;width:120px;margin-top:-60px;overflow:hidden;border:5px solid #fff}
.testimonial-card .avatar img{width:100%}
.testimonial-card .card-body{text-align:center}