{% extends "base.html" %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <hr class="my-3">

        <section class="text-center">
            <h1 class="h1 font-weight-bold text-center mb-4">Top Recipes</h1>
            <div class="row">
                {% for item in 1..8 %}
                <div class="col-sm-6 col-md-3 mb-4 text-left">
                    <div class="card card-cascade ">
                        <div class="view view-cascade overlay">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body card-body-cascade  z-depth-2">
                            <h6 class="pink-text pb-2 pt-1"><i class="fa fa-cutlery"></i> Culinary</h6>
                            <h5 class="card-title"><a>Card title</a></h5>
                            <p class="card-text">Text Description</p>
                            <a href="#" class="btn btn-block btn-unique">Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </section>
    </div>
{% endblock %}